# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**OBJECTIVES COVERED**

+ List of some popular languages for Data Science
+ Some Commonly used libraries in Data Science
+ Data Science Tools
+ Basic Arithematic examples
+ Displaying table formats in NOtebook

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. Scala
4. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. TensorFlow

| Data Science Tools |
-----------------------
| RStudio|
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Shanmuga Priya Vaiyapuri